.sidebar
  %h3.mt30.mb30.color-white Escape
  - if @current_player.present?
    .row.mb30
      %p= @current_player.calendar.now.strftime('%A, %m, %Y')
      %p= @current_player.calendar.now.strftime('%H : %M')
    .row.mb10
      %p= @current_player.full_name
    .row.mb10
      %p= "Hunger: #{@current_player.hunger}"
      %p= "Thirst: #{@current_player.thirst}"
      %p= "Energy: #{@current_player.energy}"
    .row.mb30
      %p= "Money: #{@current_player.money} ¢"

  - if user_signed_in?
    .row
      = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'link-primary'
  - else
    .row
      %ul
        %li
          = link_to "Sign in", new_user_session_path, class: 'link-primary'
        %li
          = link_to "Sign up", new_user_registration_path, class: 'link-primary'
