.container
  %h3 New Player
  = simple_form_for @player do |f|
    = f.input :firstname
    = f.input :lastname
    = f.input :eyes_color, collection: Player.eyes_colors.map{|k, v| [k.gsub('_', ' '), k]}
    = f.input :hair_color, collection: Player.hair_colors.map{|k, v| [k.gsub('_', ' '), k]}
    = f.input :hair_length, collection: Player.hair_lengths.map{|k, v| [k.gsub('_', ' '), k]}
    = f.button :submit
